# Calculate Returns

![returns_chart.png](returns_chart_720_358.png)

Using the formula $ \frac{p_{t} - p_{t-1}}{p_{t-1}} $, let's apply it to some example prices. For this exercise, we'll calculate the returns for each day using the closing price data in `close`.

In [1]:
import pandas as pd

close = pd.DataFrame(
    {
        'ABC': [1, 5, 3, 6, 2],
        'EFG': [12, 51, 43, 56, 22],
        'XYZ': [35, 36, 36, 36, 37],},
    pd.date_range('10/01/2018', periods=5, freq='D'))
close

            ABC  EFG  XYZ
2018-10-01    1   12   35
2018-10-02    5   51   36
2018-10-03    3   43   36
2018-10-04    6   56   36
2018-10-05    2   22   37

Using the returns formula on the closing prices for the ticker "ABC" should give us `[(5-1)/1, (3-5)/5, (6-3)/3, (2-6)/6]` or `[4, -0.4, 1, -0.66]`. To calculate this for the whole DataFrame, we'll use the [DataFrame.shift](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.shift.html) function.

This function allows us to shift the rows of data. For example, the following shifts the rows in `close` two days back.

In [2]:
close.shift(2)

            ABC   EFG   XYZ
2018-10-01  NaN   NaN   NaN
2018-10-02  NaN   NaN   NaN
2018-10-03  1.0  12.0  35.0
2018-10-04  5.0  51.0  36.0
2018-10-05  3.0  43.0  36.0

The data for the row "2018-10-03" contains data that is two days in the past. You'll also notice the "NaN" values for "2018-10-01" and "2018-10-02". Since there's not data two days in the past for these dates, it returns a "NaN" value.

Use this function, you can also shift in the future using a negative number. Let's shift one day in the future.

In [3]:
close.shift(-1)

            ABC   EFG   XYZ
2018-10-01  5.0  51.0  36.0
2018-10-02  3.0  43.0  36.0
2018-10-03  6.0  56.0  36.0
2018-10-04  2.0  22.0  37.0
2018-10-05  NaN   NaN   NaN

## Quiz
Using what you know about the [DataFrame.shift](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.shift.html) function, implement the function.

Once you successfully implemented the quiz, you can can continue to the next concept in the classroom.

In [1]:
import quiz_tests


def calculate_returns(close):
    """
    Compute returns for each ticker and date in close.
    
    Parameters
    ----------
    close : DataFrame
        Close prices for each ticker and date
    
    Returns
    -------
    returns : DataFrame
        Returns for each ticker and date
    """
    # TODO: Implement Function
    
    shifted_close = close.shift(1)
    raw_return = (close - shifted_close)/shifted_close
    return raw_return


quiz_tests.test_calculate_returns(calculate_returns)

ImportError: No module named 'quiz_tests'

## Quiz Solution
If you're having trouble, you can check out the quiz solution [here](calculate_returns_solution.ipynb).